@media (min-width: 600px) {
  #header {
    min-width: 60vw;
    max-width: fit-content;
  }

  img {
    max-width: 40vw;
  }
}

@media (max-width: 599px) {
  #header {
    min-width: 80vw;
    max-width: fit-content;
  }

  img {
    max-width: 60vw;
  }
}
div#repl {
  font-size: 1.1rem;
  color: #277be8;
  margin: 0 auto;
  font-family: "DM Sans", sans-serif;
  display: contents;
}

#header {
  border-bottom: 3px solid rgb(67 139 234);
  display: grid;
    place-content: center;
    min-width: 60vw;
    max-width: fit-content
}

body,
html {
  display: grid;
  place-items: center;
    background-color: #f4f4f4;
    max-height: 85vh;
    grid-gap: 1em
  }
  
  #logo {
    display: grid;
    margin: 0 auto;
  }
  
  img {
    height: 5.5em;
    max-width: fit-content;
    min-width: fit-content;
}
#container {
  display: grid;
  place-content: center
}

#app {
  display: grid;
  place-content: center;
  grid-template-areas: 1fr 1fr;
  display: contents;
  align-items: stretch;
  align-content: stretch
}

iframe {
  max-height: 80vh;
  min-height: 80vh;
  min-width: 80vw;
  box-shadow: 0 2px 3px 4px #e6e6e6;
  border-radius: 1rem
}
