@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap);

.div,
.form-group {
	flex-direction: column
}

body {
	font-family: Nunito, sans-serif;
	font-size: clamp(1rem, 2vw, 1.2rem);
	color: #333;
	height: 100vh
}

label {
	display: inherit;
	color: #151f23ba;
	align-self: stretch
}

button#submit-button {
	border: transparent
}

.form-group {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end
}

.card-body {
	display: grid;
	justify-items: space-evenly;
	padding: 1rem;
	grid-gap: 4rem
}

div#response {
	height: fit-content;
	padding: 1em;
	border: thin solid #ddd;
	background: #f1f1f1
}

.container {
	padding: 1em;
	display: flex;
	align-items: center
}

.card {
	box-shadow: 0 0 6px #ccc
}

.form-group {
	margin: 0 auto;
	padding: .3em
}

.row.justify-content-center {
	margin: 0 auto;
	width: 45vw;
	height: 50vh
}

.input-group {
	position: relative
}

h1 {
	font-weight: 700;
	font-family: Helvetica, sans-serif;

}

@media (max-width:768px) {
	.container {
		padding: .5em
	}
}
