@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap);

.div,
.form-group {
	flex-direction: column
}

.title,
h1 {
	font-weight: 700
}

body {
	font-family: Inter, sans-serif;
	font-size: clamp(1rem, 2vw, 1.2rem);
	color: #333;
	background-color: #f9f9f9;
	height: 100vh
}

h2.card-title.text-center.mb-4 {
	font-size: x-large;
	font-family: Inter
}

label {
	display: inherit;
	color: #151f23ba;
	align-self: stretch
}

button#submit-button {
	border: transparent;
}

.form-group {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end
}

.card-body {
	display: grid;
	justify-items: space-evenly;
	padding: 1rem;
	grid-gap: 4rem;
}

div#response {
	height: fit-content;
	padding: 1em;
	border: thin solid #ddd;
	background: #f1f1f1
}

.container {
	padding: 1em;
	display: flex;
	align-items: center
}

.card {
	box-shadow: 0 0 6px #ccc;
}

.col-md-6.col-lg-8 {
	min-width: 50vw
}

.container.mx-auto.py-8 {
	margin: 0 auto;
	padding: 5em;
	max-width: min-content
}

.form-group {
	margin: 0 auto;
	padding: .3em
}

.row.justify-content-center {
	margin: 0 auto;
	width: 45vw;
	height: 50vh
}


.title {
	font-size: 1.5rem;
	margin-bottom: 1rem
}


h1 {
	font-size: 2.5rem
}

.input-group {
	position: relative
}

@media (max-width:768px) {
	.container {
		padding: .5em
	}
}
