@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

$font-family: 'Nunito', sans-serif;
$font-size: clamp(1rem, 2vw, 1.2rem);
$primary-color: #333;
$label-color: #151f23ba;
$card-shadow: 0 0 6px #ccc;
$border-color: #ddd;
$background-color: #f1f1f1;

.div,
.form-group {
  flex-direction: column;
}

body {
  font-family: $font-family;
  font-size: $font-size;
  color: $primary-color;
  height: 100vh;
}

label {
  display: inherit;
  color: $label-color;
  align-self: stretch;
}

button#submit-button {
  border: transparent;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.card-body {
  display: grid;
  justify-items: space-evenly;
  padding: 1rem;
  grid-gap: 4rem;
}

div#response {
  height: fit-content;
  padding: 1em;
  border: thin solid $border-color;
  background: $background-color;
}

.container {
  padding: 1em;
  display: flex;
  align-items: center;
}

.card {
  box-shadow: $card-shadow;
}

.form-group {
  margin: 0 auto;
  padding: .3em;
}

.row.justify-content-center {
  margin: 0 auto;
  width: 45vw;
  height: 50vh;
}

.input-group {
  position: relative;
}

h1 {
  font-weight: 700;
  font-family: Helvetica, sans-serif;
}

@media (max-width: 768px) {
  .container {
    padding: .5em;
  }
}
