@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

.container,
section.section {
    display: flex;
    align-content: stretch
}


body,
h1 {
    color: #212529;
}

#input,
#output {
    color: #3a3a3a;
    resize: none
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap
}


section.section {
    flex-wrap: wrap;
    flex-direction: column
}

.control {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end
}

.container {
    max-width: 80vw;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between
}

.label {
    color: #3a3a3a
}

@media only screen and (max-width:768px) {
    .container {
        max-width: 90vw
    }
}

@media only screen and (max-width:576px) {
    .container {
        max-width: 95vw
    }

    h1.heading {
        font-size: 1.5rem
    }
}

/* Add this to your CSS file */
.popup-card {
    position: absolute;
    bottom: calc(100% + 1rem);
    background-color: #e2e4e2;
    border: 1px solid #c5c7c5;
    border-radius: 0.25rem;
    padding: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    display: none;
}

.popup-card.show {
    display: block;
    animation-name: popup-animation;
    animation-duration: 1s;
}

@keyframes popup-animation {
    0% {
        opacity: 0;
        transform: translate(-50%, -60%);
    }

    50% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -40%);
    }
}
