@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

.container,
section.section {
    display: flex;
    align-content: stretch
}


body,
h1 {
    color: #212529;
}

#input,
#output {
    color: #3a3a3a;
    resize: none
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap
}


section.section {
    flex-wrap: wrap;
    flex-direction: column
}

.control {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end
}

.container {
    max-width: 80vw;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between
}

.label {
    color: #3a3a3a
}

@media only screen and (max-width:768px) {
    .container {
        max-width: 90vw
    }
}

@media only screen and (max-width:576px) {
    .container {
        max-width: 95vw
    }

    h1.heading {
        font-size: 1.5rem
    }
}
