@import url('https://fonts.googleapis.com/css?family=Inter:200,300,400,700&display=swap');

body,
iframe,
main {
	margin: 0 auto
}

html {
	height: 100%
}


main {
	grid-auto-rows: min-content;
	min-width: auto;
	padding: 1.1em;
	display: flex;
}

body {
	font-family: inter, sans-serif;
	font-size: clamp(1rem, 2vw, 1.2rem);
	color: #333;
	background-color: #fafafa;
	display: grid;
	font-weight: 300
}

iframe {
	display: flex;
	min-width: 60vw;
	max-width: fit-content;
	box-shadow: 0 20px 16px 5px #ccc;
	border-radius: 8px;
	/* min-height: 100%; */
	margin: 0 auto;
}

.logo {
	max-width: 100%
}

section#about {
	display: flex;
	margin: 0 auto;
	padding: 0 4em;
	flex-wrap: wrap;
}

img {
	max-width: 15vw;
	min-width: 10vw;
	min-height: fit-content;
	max-height: max-content;
	display: initial;
}

img.max-w-full {
	margin: 0 auto;
	max-width: 30%;
	min-width: auto;
	width: 17%
}

.brand-logo {
	font-size: 2rem;
	font-weight: 700;
}

.nav-wrapper,
nav,
nav .nav-wrapper {
	min-width: 100%;
	margin: 0 auto;
	background-color: #65b393
}

nav,
nav ul li,
nav ul li a {
	display: inline-flex;
	list-style: none;
	margin: 0 auto;
	font-weight: 300;
}

nav .nav-wrapper {
	padding: 0 3vw
}


nav ul li a {
	color: #fff;
	text-decoration: none;
	font-size: large;
	border-radius: .3em
}

nav ul li a:hover {
	color: #ccc
}

ul#nav-mobile li a {
	font-size: 1.2rem;
	font-weight: 700;
	text-transform: uppercase
}

ul#nav-mobile li a:hover {
	background-color: #1976d2
}

p {
	margin: 0 auto;
	padding-bottom: 3%
}

@media screen and (max-width:768px) {
	nav {
		justify-content: center
	}

	.nav-wrapper {
		flex-direction: column;
		padding: 0
	}

	nav ul li {
		display: inline-flex;
		margin-right: 0;
		margin-bottom: 10px
	}
}

@media (max-width:600px) {
	.logo {
		max-width: 5vw;
		min-width: 3vw;
		margin: 0 auto;
		min-height: fit-content;
		max-height: max-content;
		display: initial
	}

	iframe {
		min-width: 100%;
		border-radius: 0
	}
}
