.title,
h1 {
    font-weight: bold;
    font-size: 2.5rem;
}

h4.text-center.font-weight-bold {
    color: #6c757d;
}

body {
    background-color: #fafafa;
    height: 100vh;
}

button#go {
    font-weight: bold;
    font-size: 1.75rem;
    max-width: 40vw;
}

p.text-center.lead {
    color: #6c757d;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#options,
div#options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
}

#input,
#output,
textarea {
    padding: 1rem;
    border-radius: .25rem;
    height: 30vh;
    width: 100%;
}

#stats {
    color: #6c757d;
}

div#options {
    display: grid;
}

.container.mx-auto {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

textarea {
    width: 100%;
    resize: none;
    border-radius: .25rem;
    padding: .5rem;
    margin: .5rem;
}

@media (max-width:798px) {
    .container {
        padding: .5rem;
    }
}
