h1 {
    font-weight: 700;
    font-size: 2.5rem
}

body {
    height: 100vh
}

button#go {
    font-weight: 700;
    font-size: 1.75rem;
    max-width: 40vw
}

#stats,
p.text-center.lead {
    color: #6c757d
}

div#options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    display: grid
}

textarea {
    height: 30vh;
    width: 100%;
    resize: none;
    border-radius: .25rem;
    padding: .5rem;
    margin: .5rem
}

.small-border {
    border-width: 3px !important;
}
