@import url('https://fonts.googleapis.com/css?family=Open+Sans:wght@100;300;400;700display=swap');

body {
    font-family: Open+Sans, sans-serif;
    font-size: clamp(1rem, 2vw, 1.2rem);
    color: #333;
    height: 100vh
}

label {
    color: #151f23ba
}

button#submit-button {
    border: none
}

.card-body {
    padding: 1rem
}

div#response {
    height: fit-content;
    background: #fff;
    margin-bottom: 10px
}

.container {
    padding: 1em
}

h1 {
    font-weight: 700;
    font-family: Helvetica, sans-serif
}

.chat-message {
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background-color: #0b93f6;
    color: #fff;
    border-radius: 18px;
    padding: 1em
}

@media (max-width:768px) {
    .container {
        padding: .5em
    }
}
